
.DS_Store
checkpoint
checkpoint/model.keras
checkpoint/best_model.keras
playground.ipynb
.DS_Store
__pycache__/CNN.cpython-39.pyc
__pycache__/CNN.cpython-39.pyc
__pycache__/predict.cpython-39.pyc
__pycache__/utils.cpython-39.pyc
__pycache__/CNN.cpython-39.pyc
.DS_Store
__pycache__/CNN.cpython-39.pyc
__pycache__/CNN.cpython-39.pyc
__pycache__/predict.cpython-39.pyc
*.pyc
/__pycache__
/__pycache__
/__pycache__
/__pycache__
*.pyc
*.pyc
